<h4>Node properties</h4>

<form action="{{ path('cp_edit_node', {'id': id}) }}" class="form-horizontal" method="post" novalidate data-remote>
    {{ form_errors(form) }}
    <p>
        <div class="input-prepend">
          <span class="add-on">/about-us/</span>
          <input class="span6" id="prependedInput" type="text" placeholder="slug">
        </div>

        {{ form_row(form.slug) }}


        {{ form_row(form.title) }}
        {{ form_row(form.route) }}
    </p>

    <div class="centered">
        <input type="submit" class="btn btn-small" value="Save changes"/>
    </div>

    {{ form_rest(form) }}
</form>