{% form_theme form 'BtnCrudBundle:Form:fields.html.twig' %}

<form action="{{ parent is defined ? path('cp_add_node', {'id': parent.id is defined ? parent.id : null}) : path('cp_edit_node', {'id': node.id}) }}" class="form-horizontal" method="post" novalidate data-remote>
    {{ form_errors(form) }}

    {{ form_row(form.title) }}

    <div class="control-group">
        {{ form_errors(form.slug) }}
        {{ form_label(form.slug) }}
        <div class="controls">
            <div class="input-prepend">
              <span class="add-on">/{{ node.fullSlug(true) }}</span>
              {{ form_widget(form.slug) }}
            </div>
        </div>
    </div>



    {{ form_row(form.link) }}
    {{ form_row(form.metaTitle) }}
    {{ form_row(form.metaKeywords) }}
    {{ form_row(form.metaDescription) }}
    {{ form_row(form.ogTitle) }}
    {{ form_row(form.ogDescription) }}
    {{ form_row(form.ogImage) }}

      <div class="control-group">
        <div class="controls">
            {{ form_row(form.visible) }}
            <input type="submit" class="btn btn-small" value="{% trans %}crud.save{% endtrans %}"/>
        </div>
      </div>

    {{ form_rest(form) }}
</form>
