<li id="{{ node.id }}">
    <a href="{{ url('cp_edit_node', {'id': node.id}) }}" data-remote="formContainer" class="node-title">{{ node.title }}</a> |

        {% if node.provider %}
            {{ node.provider }}
        {% else %}
            {% trans %}node.no_content_attached{% endtrans %}
        {% endif %}
    <a href="{{ url('cp_add_node', {'id': node.id}) }}"><i class="icon-plus"></i></a>
    <a href="{{ url('cp_remove_node', {'id': node.id}) }}" data-confirm="{% trans %}node.delete_confirm{% endtrans %}" ><i class="icon-minus"></i></a>
    <ul>
        {% for node in node.children %}
            {% include 'BtnNodesBundle:NodeControl:_tree.html.twig' %}
        {% endfor %}
    </ul>
</li>
