{% extends '::control.html.twig' %}

{% block content %}

<h4>Website sitemap</h4>

<div class="row-fluid nodes-list" id="nodesManager">
    <div class="span12"></div>
    {% for node in topNodes %}
        <div class="span5">
            <ul class="tree" id="tree-{{ node.id }}">
                {% include 'BtnNodesBundle:NodeControl:_simple_tree.html.twig' %}
            </ul>
        </div>
    {% endfor %}

    <div class="span12">
        <br/><br/>
        <a href="#" data-modal-title="Create new menu" data-manage-node="{{ url('cp_add_node') }}" class="btn">Create new menu</a>
    </div>
</div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@BtnNodesBundle/Resources/public/css/*'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@BtnNodesBundle/Resources/public/js/jq.confirmModal.js'
        '@BtnNodesBundle/Resources/public/js/jq.nodesTreeManager.js'
        '@BtnNodesBundle/Resources/public/js/jq.slugify.js'
        '@BtnNodesBundle/Resources/public/js/nodes.new.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
